.calculatorbody {
    display: flex;
    flex-direction: column;
    width: 280px
}

.buttoncontainer {
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 280px;
}

#display {
    border-color: black;
    border: solid 2px;
    display: flex;
    height: 50px;


}
.numbcont {
    flex-wrap: wrap;
    display: flex;
    width: 210px;
}

.numbers {
    height: 50px;
    width: 70px;
}
#equal {
    height: 50px;
    width: 70px;
    
}

.operator {
    height: 50px;
    width: 70px;
}

.operatorcontainer {
    display: flex;
    flex-direction: column;
}

#reset {
    width: 210px;
    height: 50px;
}